.card {
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px rgb(75, 75, 75);
    margin: 10px 20px;
    padding: 5px 7px;
    width: 35%;
}

.card ul {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

.course {
    font-size: 20px;
}

.card ul li {
    margin: 3.5px 0px;
    padding: 2px 0px;
}